@font-face {
  font-family: "Romul";
  src: url(styles/40ab65882c0b0e2750be58e0ccc61ae8.woff2) format("woff2"), url(styles/17927b57edfd35904980966a6d0e93a4.ttf) format("truetype"), url(styles/a2d0d19417129a0f38582a3e5feb9e82.svg#Romul) format("svg"), url(styles/9b4dbf310f41ca97aa9c75fd7a814215.woff) format("woff"); }

* {
  box-sizing: border-box;
  font-family: 'Romul'; }

body, html {
  margin: 0;
  padding: 0;
  background: #fdfaf7; }
  body .menu-toggler, html .menu-toggler {
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    padding: 20px 0px; }

button {
  background: none;
  border: none; }
  button:focus, button:active {
    outline: none;
    box-shadow: none; }
  button:hover {
    cursor: pointer; }

a {
  text-decoration: none;
  color: #000; }
  a:focus, a:active {
    text-decoration: none;
    color: #000; }

.popup-menu {
  opacity: 0;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 10%;
  left: 4%;
  width: 92%;
  height: 92%;
  z-index: 10;
  transition: all .8s ease;
  z-index: 2; }
  .popup-menu video {
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0; }
  .popup-menu .menu-wrapper {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ebe9e8;
    opacity: .9; }
  .popup-menu.show {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1; }
  .popup-menu .controls {
    display: flex;
    justify-content: center;
    padding: 20px 0px; }
    .popup-menu .controls button {
      font-size: 15px;
      color: #d1c6c1; }
      .popup-menu .controls button:hover, .popup-menu .controls button.active {
        color: #000; }
  .popup-menu .logo {
    width: 200px;
    margin: 0 auto; }
    .popup-menu .logo img {
      width: 100%; }
  .popup-menu .menu-content {
    text-align: center;
    padding: 20px 0px; }
    .popup-menu .menu-content nav .link-item:before {
      content: '';
      display: block;
      width: 20px;
      height: 3px;
      background: #6d6c6a;
      margin: 0 auto; }
    .popup-menu .menu-content nav .link-item a {
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      margin: 10px 0px; }
    .popup-menu .menu-content nav .link-item:last-child a {
      margin-bottom: 0; }
  .popup-menu .social {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px 0px; }
    .popup-menu .social .icon {
      margin-right: 20px;
      color: #6d6c6a; }
      .popup-menu .social .icon:last-child {
        margin-right: 0; }
      .popup-menu .social .icon:hover {
        color: #333;
        cursor: pointer; }
  .popup-menu .copyright {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #6d6c6a; }

.wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .wrapper .slide {
    width: 37%;
    height: 80%;
    text-align: center;
    padding: 20px 20px;
    position: absolute;
    right: 52%;
    overflow: hidden;
    background: url("http://placehold.it/1700x600?text=keyrealby");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all 1s ease-out; }
    .wrapper .slide:nth-child(2n) {
      left: 52%;
      top: -100%; }
    .wrapper .slide:nth-child(2n + 1) {
      top: 100%; }
    .wrapper .slide.active {
      top: 13%; }
      .wrapper .slide.active .logo,
      .wrapper .slide.active .text-container {
        opacity: 1; }
    .wrapper .slide .logo {
      opacity: 0;
      transition: all .3s 1.2s ease; }
    .wrapper .slide .text-container {
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      transition: all .3s 1.2s ease;
      opacity: 0; }
      .wrapper .slide .text-container .slogan {
        font-size: 30px;
        line-height: 1.3; }
        .wrapper .slide .text-container .slogan span {
          display: block; }
  .wrapper .dots {
    position: absolute;
    margin-top: -54px;
    margin-left: 8px;
    top: 50%;
    left: 49%; }
    .wrapper .dots .dot {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 5px; }
      .wrapper .dots .dot.active {
        height: 16px; }
        .wrapper .dots .dot.active:before {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          transform: rotate(45deg);
          background-color: #cbbeb9; }
        .wrapper .dots .dot.active .fa-sort-down {
          display: none; }
