* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  background: #fdfaf7; }
  body .menu-toggler, html .menu-toggler {
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    padding: 20px 0px;
    z-index: 9; }

button {
  background: none;
  border: none; }
  button:focus, button:active {
    outline: none;
    box-shadow: none; }
  button:hover {
    cursor: pointer; }

.popup-menu {
  opacity: 0;
  background: url("http://placehold.it/1700x900/ebe9e8");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 10%;
  left: 4%;
  width: 92%;
  height: 92%;
  z-index: 10;
  transition: all .8s ease;
  padding: 20px 0px; }
  .popup-menu.show {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1; }
  .popup-menu .controls {
    display: flex;
    justify-content: center; }

.wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .wrapper .slide {
    width: 37%;
    height: 80%;
    position: absolute;
    right: 52%;
    background: url("http://placehold.it/1700x600?text=keyrealby");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all .5s ease-out; }
    .wrapper .slide:nth-child(2n) {
      left: 52%;
      top: -100%; }
    .wrapper .slide:nth-child(2n + 1) {
      top: 100%; }
    .wrapper .slide.active {
      top: 13%; }
  .wrapper .dots {
    position: absolute;
    margin-top: -54px;
    margin-left: 8px;
    top: 50%;
    left: 49%; }
